---
layout: base.njk
---
<article class="max-w-2xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">{{ title }}</h1>
  {% if date %}
    <time datetime="{{ date | dateIso }}" class="text-sm text-gray-600 mb-4 block">{{ date | dateReadable }}</time>
  {% endif %}
  <div class="prose prose-lg">
    {{ content | safe }}
  </div>
</article>